fastapi==0.115.8
uvicorn==0.34.0
psycopg2-binary
sqlalchemy
pymilvus
aws-cdk-lib
constructs
boto3
python-dotenv
httpx
beautifulsoup4
selenium
webdriver-manager
html5lib
python-multipart
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
llama-parse
PyPDF2
nest_asyncio
openai
llama-index